<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="auth-form">
        <div class="logo">
            <img src="{{clientLogo}}" alt="app logo">
        </div>
        <p>Sign in to <b>{{clientName}}</b> to continue to <b>{{clientName}}</b></p>
        <h1>Sign In</h1>
        <div class="body">
            <form action="/oauth/login" method="post">
                <label for="identifier">
                    Username or email address
                </label>
                <input type="text" id="identifier" name="identifier">
                <label for="certificate">Password</label>
                <input type="password" id="certificate" name="certificate">
                <input type="hidden" name="returnTo" value="{{returnTo}}">
                <input type="hidden" name="timestamp" value="{{timestamp}}">
                <input type="hidden" name="timestampSecret" value="{{timestampSecret}}">

                <input type="submit" value="Sign In"></input>
            </form>
        </div>
    </div>
</body>

</html>